<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thanks For Registration</title>
</head>
<body>
<p>Hello $user,<br>
    Thanks for registering yourself into HoneyMint Competition.<br>
    Share your referral link and earn max points to win 100 bottles of Honeymint.<br>
    Your refferal link:$link<br>
    Share on social media via-<br>
     <a  href="https://twitter.com/intent/tweet?text=$link"> Twitter </a> &nbsp;&nbsp; &nbsp; &nbsp;<a href="https://www.facebook.com/sharer/sharer.php?u=$link">Facebook</a>
</p>
</body>
</html>