<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HoneyMint Launch</title>
</head>
<body>
<center>
    <h1>HoneyMint Talcum Powder</h1>
    <br><br>
    <p>We're soon launching our new product HoneyMint.<br>Grab the opportunity of winning 100 bottles of Honeymint on the day of it's official release</p>
    <h3>Instructions of the competition:</h3>
    <ol style="margin-left:350px;text-align:left">
        <li>Sign up for the honey mint competition.</li>
        <li>You'll get your referral link on user dashboard page and you'll also get it on your mail after a successful signup.</li>
        <li>Share the referral link to your friends (facebook and twitter share options will be available).</li>
        <li>Each successful signup with your referral will lead you one point.</li>
        <li>Top 10 users will got selected</li>
        <li>User with maximum points will be given 100 bottles of honeymint</li>
    </ol>
    <br><br>
    <a href="/form"><button id="signup">Signup</button></a> &nbsp;&nbsp;&nbsp;&nbsp;<a href="/form2"><button>Login</button></a>
</center>
</body>
</html>